<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Printer Portal</title>
  <link href="../src/css/index.css" rel="stylesheet"/>
  <script src="../src/js/index.ts" defer></script>
</head>

<body>
  <h1>Upload your file here</h1>
  <form id="file-form" method="POST" enctype="multipart/form-data">
    <label for="file-upload">Choose a file to print:</label>
    <input type="file" id="file-upload" name="file-upload" accept="application/pdf" />
    <button>Submit</button>
  </form>

  <div id="choices">
    <h1>Hello</h1>
  </div>
</body>

</html>